.image-preview {
    display: inline-block;
    margin: 5px;
    position: relative;

    .glyphicon {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      font-size: 50px;
      color: white;
      opacity: .7;
    }

    .stats {
        position: absolute;
        left: 0px;
        bottom: 5px;
        width: 100%;
        background-color: white;
        text-align: center;
        opacity: .9;
    }

    img {
      width: 200px;
      height: 200px;
      display: inline-block;
    }

    video {
      width: 200px;
      height: 200px;
      background-color: black;
      vertical-align: middle;
    }
}
